body {
    background-color: #9e9e9e;
}

.container-view-1 {
    margin: 13px auto;
    background-color: white;
    width: 893px;
    min-height: 1262px;
}

.header-form {
}

.header-title {
    font-weight: bold;
    color: #1e6b5b;
}